---
---
// OVERWRITES

// Headers
$header-bg-color: #AE0001;
$header-bg-color-secondary: #AE0001;

// Text
$section-headings-color:#AE0001;

// CUSTOM CSS // 
 /* The navigation bar */
.Fixed {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 10000000000;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.Fixed a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.Fixed a:hover {
  background: #ddd;
  color: black;
}
