<div class="Fixed">
       <a id="skip-to-content" href="#top">Home</a>
       <a id="skip-to-content" href="#good-better-copenhagen">Good, better, Copenhagen</a>
       <a id="skip-to-content" href="#data">Data</a>
       <a id="skip-to-content" href="#daily-patterns">Daily patterns</a>
       <a id="skip-to-content" href="#spatial-patterns">Spatial Patterns</a>
       <a id="skip-to-content" href="#impact-of-the-weather">Impact of the weather</a>
       <a id="skip-to-content" href="#ml">ML</a>
</div>
<header class="page-header" role="banner">
    <h1 class="project-name">{{ .Site.Params.Title }}</h1>
    <h1 class="project-tagline">{{ .Site.Params.Subtitle }}</h1>
   <!--  <h2 class="project-tagline">{{ .Site.Params.Description }}</h2>-->
  </header>


<nav id="header" class="fixed w-full z-10 top-0">

     <div id="progress" class="h-1 z-20 top-0"
         style="background:linear-gradient(to right, #090b0b var(--scroll), transparent 0);"></div>

     <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

         <div class="block lg:hidden pr-4">
             <button id="nav-toggle"
                 class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
                 <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                     <title>Menu</title>
                     <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                 </svg>
             </button>
         </div>

         <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
             id="nav-content">
             <ul class="list-reset lg:flex justify-end flex-1 items-center list-none px-0">

                 {{ range .Site.Params.Nav }}
                 <li>
                     <a class="inline-block py-2 px-4 text-gray-900 no-underline" href="{{ .link }}">{{ .label }}</a>
                 </li>
                 {{ end }}
             </ul>
         </div>
</nav>
     
 
